@model web.Models.InsuranceSubject

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InsuranceSubject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsuranceSubjectID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedValue" class="control-label"></label>
                <input asp-for="EstimatedValue" class="form-control" />
                <span asp-validation-for="EstimatedValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceSubjectType" class="control-label"></label>
                <select asp-for="InsuranceSubjectTypeID" class="form-control" asp-items="ViewBag.InsuranceSubjectTypeID">
                    <option value="">-- Select Subject Type --</option>
                </select>
                <span asp-validation-for="InsuranceSubjectTypeID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Insured" class="control-label"></label>
                <select asp-for="InsuredID" class="form-control" asp-items="ViewBag.InsuredID">
                    <option value="">-- Select Insured --</option>
                </select>
                <span asp-validation-for="InsuredID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>