@model web.Models.InsurancePolicy

@{
    ViewData["Title"] = "Create";
    @* List<InsuranceSubject> insuranceSubjects = new List<InsuranceSubject>();
    @foreach(var subject in (IEnumerable<InsuranceSubject>)ViewData["InsuranceSubject"]){
        insuranceSubjects.Add(subject);
    }
    List<InsuranceSubject> insuranceSubjectsFiltered = insuranceSubjects;
    int st = 0; *@
    Console.WriteLine(ViewData["InsuranceSubject"]);
}

<h1>Create</h1>

<h4>InsurancePolicy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTo" class="control-label"></label>
                <input asp-for="DateTo" class="form-control" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insured" class="control-label"></label>
                <select id="selectInsured" asp-for="InsuredID" class="form-control" asp-items="ViewBag.InsuredID" onchange="validate()" >
                    <option value="none">-- Select Insured --</option>
                </select>
                <span asp-validation-for="InsuredID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="InsuranceSubject" class="control-label"></label>
                <select id="selectObject" asp-for="InsuranceSubjectID" class="form-control" >
                    <option value="">-- Select Object --</option>
                    @* @foreach(var subject in insuranceSubjectsFiltered){
                        <option value="@subject.InsuranceSubjectID">@subject.Title</option>
                    } *@
                </select>
                <span asp-validation-for="InsuranceSubjectID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="InsuranceSubtype" class="control-label"></label>
                <select asp-for="InsuranceSubtypeID" class="form-control" asp-items="ViewBag.InsuranceSubtypeID">
                    <option value="">-- Select Subtype --</option>
                </select>
                <span asp-validation-for="InsuranceSubtypeID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    var jsonSubjects = @Html.Raw(ViewData["InsuranceSubject"]);
    var subjectSize = parseInt(@ViewData["subjectSize"]);



    var selectObject = document.getElementById("selectObject");
    selectObject.disabled = true;
    var selectSubjects = document.getElementById("selectObject");
    function validate()
    {
        var ddl = document.getElementById("selectInsured");
        var selectedValue = parseInt(ddl.options[ddl.selectedIndex].value);
        if (Number.isInteger(selectedValue)){
            selectObject.disabled = false;
        } else {
            selectObject.disabled = true;
        }
        var size = selectObject.options.length - 1;
        if(size == 1){
            selectObject.disabled = true;
        }
        for(i = size; i >= 1; i--) {
            selectObject.remove(i);
        }
        for(let i=0; i<subjectSize; i++){
            if(selectedValue == parseInt(jsonSubjects[i].InsuredID)){
                var opt = document.createElement("option");
                opt.value= jsonSubjects[i].InsuranceSubjectID;
                opt.innerHTML = jsonSubjects[i].Title;
                selectObject.appendChild(opt);
            }

        }

    }
</script>