@model web.Models.InsurancePolicy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InsurancePolicy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsurancePolicyID" />
            <div class="form-group">
                <label asp-for="FinalSum" class="control-label"></label>
                <input asp-for="FinalSum" class="form-control" readonly />
                <span asp-validation-for="FinalSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTo" class="control-label"></label>
                <input asp-for="DateTo" class="form-control" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insured" class="control-label"></label>
                <select asp-for="InsuredID" class="form-control" asp-items="ViewBag.InsuredID">
                    <option value="">-- Select Insured --</option>
                </select>
                <span asp-validation-for="InsuredID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="InsuranceSubject" class="control-label"></label>
                <select asp-for="InsuranceSubjectID" class="form-control" asp-items="ViewBag.InsuranceSubjectID">
                    <option value="">-- Select Insurance Object --</option>
                </select>
                <span asp-validation-for="InsuranceSubjectID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="InsuranceSubtype" class="control-label"></label>
                <select asp-for="InsuranceSubtypeID" class="form-control" asp-items="ViewBag.InsuranceSubtypeID">
                    <option value="">-- Select Insurance Subtype --</option>
                </select>
                <span asp-validation-for="InsuranceSubtypeID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
        function finalSum() {
        var selectInsured = parseInt(document.getElementById("selectInsured").value);
        var selectObject = parseInt(document.getElementById("selectObject").value);
        var selectSubtype = parseInt(document.getElementById("selectSubtype").value);
        var dateFrom = new Date(document.getElementById("dateFrom").value);
        var dateTo = new Date(document.getElementById("dateTo").value);

        if(selectInsured && selectObject && selectSubtype && dateFrom && dateTo){
            for(let i=0; i<subjectSize; i++){
                if(selectObject == parseInt(jsonSubjects[i].InsuranceSubjectID)){
                    var estimatedValue = jsonSubjects[i].EstimatedValue;
                }
            } 
            for(let i=0; i<subtypeSize; i++){
                if(selectSubtype == parseInt(subtypesObj[i].InsuranceSubtypeID)){
                    var rate = subtypesObj[i].Rate;
                }
            }  
            var days = datediff(dateFrom, dateTo)
            document.getElementById("finalPrice").value = ((parseFloat(estimatedValue)*parseFloat(rate))/365)*days;

        }

    }

    function parseDate(str) {
        var mdy = str.split('/');
        return new Date(mdy[2], mdy[0]-1, mdy[1]);
    }

    function datediff(first, second) {
        // Take the difference between the dates and divide by milliseconds per day.
        // Round to nearest whole number to deal with DST.
        return Math.round((second-first)/(1000*60*60*24));
    }
</script>
