@{
    ViewData["Title"] = "Admin Panel";
}
<h1>@ViewData["Title"]</h1>
<br />
<h3>Dashboard</h3>
<hr />

<div class="admin-container">
    
    <a asp-area="" asp-controller="Insured" asp-action="Index">
        <div class="mycard card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Clients</h5></div>
            <div class="card-body clients-panel">
                
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsuranceSubjects" asp-action="Index">
        <div class="mycard card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Insured objects</h5></div>
            <div class="card-body object-panel">
                
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsurancePolicy" asp-action="Index">
        <div class="mycard card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Insurance policies</h5></div>
            <div class="card-body policy-panel">
                
            </div>
        </div>
    </a>
</div>

<div class="admin-container">
    <a asp-area="" asp-controller="InsuranceTypes" asp-action="Index">
        <div class="mycard card text-white bg-warning mb-3 mycard" style="max-width: 18rem;">
            <div class="card-header"><h5>Insurance type</h5></div>
            <div class="card-body types-panel">
                
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsuranceSubtypes" asp-action="Index">
        <div class="mycard card text-white bg-secondary mb-3 mycard" style="max-width: 18rem;">
            <div class="card-header"><h5>Insurance subtypes</h5></div>
            <div class="card-body subtypes-panel">
                
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsuranceSubjectTypes" asp-action="Index">
        <div class="mycard card text-white bg-info mb-3 mycard" style="max-width: 18rem;">
            <div class="card-header"><h5>Insured object types</h5></div>
            <div class="card-body object-types-panel">
                
            </div>
        </div>
    </a>
</div>
<br /><br />
<h3>Statistics</h3>
<hr />
<div class="canvas">
    <canvas id="pie-chart" width="800" height="450"></canvas>
</div>
<div class="canvas">
    <canvas id="radar-chart" width="800" height="600"></canvas>
</div>
<script>
function repeatColors(data, colors) {
  var result = [];
  for (var i = 0; i < data.length; i++) {
    result.push(colors[i % colors.length]);
  }
  return result;
}
var bgColors = [
  "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"
];
var subtypesArray = @Html.Raw(Json.Serialize(ViewData["subtypes"]));
var subtypeInstances = @Html.Raw(Json.Serialize(ViewData["subtypeInstances"]));
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: subtypesArray,
      datasets: [{
        label: "Subtypes shares",
        backgroundColor: repeatColors(subtypeInstances, bgColors),
        data: subtypeInstances
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Insurance subtypes shares'
      }
    }
});

new Chart(document.getElementById("radar-chart"), {
    type: 'radar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "1950",
          fill: true,
          backgroundColor: "rgba(179,181,198,0.2)",
          borderColor: "rgba(179,181,198,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(179,181,198,1)",
          data: [8.77,55.61,21.69,6.62,6.82]
        }, {
          label: "2050",
          fill: true,
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          data: [25.48,54.16,7.61,8.06,4.45]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Distribution in % of world population'
      }
    }
});
</script>