@{
    ViewData["Title"] = "Agent Panel";
}
<h1>@ViewData["Title"]</h1>
<br />
<h3>Dashboard</h3>
<hr />

<div class="admin-container">
    
    <a asp-area="" asp-controller="Insured" asp-action="Index">
        <div class="mycard card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Clients</h5></div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsuranceSubjects" asp-action="Index">
        <div class="mycard card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Insured objects</h5></div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="InsurancePolicy" asp-action="Index">
        <div class="mycard card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header"><h5>Insurance policies</h5></div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
</div>
<br /><br />

