@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Insurance IS</h1>
    <p>Insureance-IS is a framework for insurance companies to help and improve everyday work of insurance agents. It supports digitalization of infurance bussines.</a>.</p>
</div>
<br /> <br />
<div class="text-center">
    <a asp-area="" asp-controller="Home" class="btn btn-outline-primary btn-lg" asp-action="Insure">Insure a client</a>
</div>
<div class="img-container">
    <img src="~/images/insurance6.png" alt="Content folder" />
</div>