@{
    ViewData["Title"] = "Home Page";
}
<div class="logo-container">
    <img src="images/logo.png" alt="logo">
</div>
<br />
<div class="text-center">
    <h4>Welcome, fellow insurance agent!</h4>
    @* <p>Insureance-IS is a framework for insurance companies to help and improve everyday work of insurance agents. It supports digitalization of infurance bussines.</a>.</p> *@
</div>
<br />
<br /> <br />
<div class="text-center">
    <a asp-area="" asp-controller="Home" class="btn btn-outline-primary btn-lg" asp-action="Insure">Insure a client</a>
</div>
<div class="img-container">
    <img src="~/images/insurance6.png" alt="Content folder" />
</div>
