.image {
    width: 50%;
    position: absolute !important;
    right: 0px !important;
    bottom: 0px !important;
}

.img-container {
    width: 100vw;
    position: absolute !important;
    text-align: right;
    right: 0px !important;
    bottom: 60px !important;
}

.img-container img {
    width: 40%;
}
